@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

html,head,body
{
    margin:0;
    height: 100%;
}

body
{
    font-family: "Noto Sans Japanese", sans-serif;
//    font-family: "M PLUS Rounded 1c", sans-serif;
//    font-family: 'Sawarabi Mincho', serif;
}
